<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>
	


	<div class="col-12 col-sm-6 about">
		<%= image_tag 'hosts.jpg', class: 'img-fluid' %>
	</div>

	<p>
	<br> <a target="_blank" href="https://www.liftheavyrunlong.com/">The Lift Heavy Run Long® Podcast</a> was formed by Wilson Horrell and Von Ralls as a way to encourage people to make fitness a priority while building community and making sure that each individual felt as comfortable as possible within the Lift Heavy Run Long® Community. </p>
	
	<p>Wilson and Von are passionate about their podcast and they feel strongly about the potential that comes with making connections with people. They are always encouraging people to start their own podcasts and are open to sharing any and all of their ideas with anyone who is willing to listen. They are also happy to share and laugh at their mistakes along the way because there have been plenty! </p>
	
	<p>If you are interested in following our podcast or have any quesitons about starting your own, you can find us at <a target="_blank" href="https://www.liftheavyrunlong.com/">LiftHeavyRunLong.com.</a>   
	</p>

	<div class="row">
		<div class="col-12 col-sm-4">
			<%= image_tag 'behindCamerNoFilter.jpg', class: 'img-fluid' %>
			
		</div>

		<div class="col-12 col-sm-7 offset-sm-1">
			<h2 class="text-center">Wilson Horrell</h2>
			<br />
			<p>
			Wilson Horrell is an computer programmer, podcast producer, entrepreneur, writer and family man. He has owned his owned business for sixteen years and has a passion for learning new things.</p>
		</div>
	</div>
		<br class="clear" />
		

	<div class="row">
		<div class="col-12 col-sm-4" style="padding-top:30px;">
			<%= image_tag 'podcastMic.jpg', class: 'img-fluid' %>

	 </div>
  <div class="col-12 col-sm-7 offset-sm-1">
	<h2 class="text-center"> Von Ralls</h2>
	<br />
	<p>
		Von Ralls is an experienced web developer, podcast host and owner of one of the most successful Crossfit gyms in DeSoto County. Von is a husband and father of three children who enjoys helping working with others and helping them reach their goals.
	</p>
	</div>
</div>


<br class="clear" />
<br />
<br />
<br />
<br />